{% extends 'base.html' %}

{% load static %}
{% load render_table from django_tables2 %}
{% load django_bootstrap5  %}
{% load crispy_forms_tags %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/chat.css' %}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.3/css/lightgallery-bundle.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <style>
        thead{
            background-color: white;
        }
        .table-container{
            background-color: white;
        }
        .circular-image {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            object-fit: cover;
        }
        .carousel-caption{
            top: 50%;
            transform: translateY(-50%);
            bottom: initial;
            text-align: left;
        }
        .scrollable-container {
            max-height: 600px; /* Adjust the height as needed */
            overflow-y: auto;
        }
    </style>
    
{% endblock %}


{% block content %}
    <h1 class="text-white">Polangui Veterinary Clinic - My Pets</h1>
    <div class="container-fluid">
        <div class="row">
            <form method="GET" action="{% url 'pets_admin' %}">
                <div class="input-group mb-3">
                    <input type="text" id="searchInput" name="q" class="form-control" placeholder="Search pets..." aria-describedby="button-addon2" value="{{q}}">
                    <button class="btn btn-secondary" type="submit" id="button-addon2">Search</button>
                </div>
            </form>
        </div>
        <div class="row" id="petCards">
            {% for pet in pet_list %}
                {% if forloop.counter|divisibleby:3 and not forloop.last %}
                    <div class="row">
                {% endif %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-header">
                            <div class="input-group my-3 ">
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-pet="{{pet.id}}" data-bs-url="{{pet.url}}"><i class="bi bi-pencil-square"></i></button>
                                <button class="btn btn-outline-secondary" type="button" data-bs-toggle="modal" data-bs-target="#medicalModal" data-bs-pet="{{pet.id}}"><i class="bi bi-clock-history"></i> Medical History</button>                                
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                {% if pet.image %}
                                    <img src="{{ pet.image }}" class="card-img-top" alt="{{ pet.name }}">
                                {% else %}
                                    
                                {% endif %}
                            </div>
                            {% with "mydata-"|add:pet.id as id %}
                            {{pet|json_script:id}}
                            {% endwith %}
                            
                            <h5 class="card-title">{{ pet.name }}</h5>
                            <p>Date of Birth:{{ pet.date_of_birth|date:'M d Y' }}</p>
                            <p>Gender: {{ pet.gender }}</p>
                            <p>Weight: {{ pet.weight }} kg</p>
                            <p>Height: {{ pet.height }} cm</p>
                            <p>Species: {{ pet.species }}</p>
                            <p>Breed: {{ pet.breed_id }}</p>
                            <p>Allergies: {{ pet.allergies }}</p>
                            <p>Existing Conditions: {{ pet.existing_conditions }}</p>
                            <h6>Medical Histories:</h6>
                            <div class="scrollable-container">
                                <div class="accordion" id="accordionExample">
                                    {% for history in pet.medical_histories %}
                                        <div class="accordion-item">
                                            <h2 class="accordion-header">
                                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ history.id }}" aria-expanded="true" aria-controls="collapseOne">
                                                Date: {{ history.date|date:'M d Y' }}
                                                </button>
                                            </h2>
                                            <div id="collapse-{{ history.id }}" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                                <div class="accordion-body">
                                                <b>Description:</b> {{ history.description }}<br>
                                                <b>Veterinarian:</b> {{ history.veterinarian }}<br>
                                                <b>Diagnosis:</b> {{ history.diagnosis }}<br>
                                                <b>Tests Performed:</b> {{ history.tests_performed }}<br>
                                                <b>Test Results:</b> {{ history.test_results }}<br>
                                                <b>Action:</b> {{ history.action }}<br>
                                                <b>Medication:</b> {{ history.medication }}<br>
                                                <button class="btn btn-danger medical_delete_buttons" type="button" data-url="{% url 'delete_medical' history.id %}">Delete</button>
                                                </div>
                                            </div>
                                            </div>
                                    {% endfor %}                                                    
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 and not forloop.last %}
                    </div>
                {% endif %}
            {% endfor %}
            




        </div>
    </div>
    <div class="modal fade" id="exampleModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Pet Info</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form id="pet_info_form">
                {% csrf_token %}
                <div class="mb-1">
                  <label for="pet-name" class="col-form-label">Name:</label>
                  <input type="text" class="form-control" id="pet-name" name="name">
                </div>
                <div class="mb-1">
                    <label for="pet-birthday" class="col-form-label">Birthday:</label>
                    <input type="text" class="form-control" id="pet-birthday" name="date_of_birth">
                  </div>
                  <div class="mb-1">
                    <label for="pet-gender" class="col-form-label">Gender:</label>
                    <select class="form-select" id="pet-gender" name="gender">
                        <option value="Male" selected>Male</option>
                        <option value="Female">Female</option>
                      </select>
                  </div>
                  <div class="mb-1">
                    <label for="pet-weight" class="col-form-label">Weight:</label>
                    <input type="number" class="form-control" id="pet-weight" name="weight">
                  </div>
                  <div class="mb-1">
                    <label for="pet-height" class="col-form-label">Height:</label>
                    <input type="number" class="form-control" id="pet-height" name="height">
                  </div>
                  <div class="mb-1">
                    <label for="pet-species" class="col-form-label">Species:</label>
                    <select class="form-select" id="pet-species" name="species">
                        {% for species in species_data %}
                            <option value="{{ species.0 }}">{{ species.0 }}</option>
                        {% endfor %}
                      </select>
                  </div>
                  <div class="mb-1">
                    
                    <label for="pet-breed" class="col-form-label">Breed:</label>
                    <select class="form-select" id="pet-breed" name="breed">
                        
                      </select>
                  </div>
                  <div class="mb-1">
                    <label for="pet-allergies" class="col-form-label">Allergies:</label>
                    <textarea rows="3" type="text" class="form-control" id="pet-allergies" name="allergies"></textarea>
                  </div>
                  <div class="mb-1">
                    <label for="pet-existing_conditions" class="col-form-label">Existing Conditions:</label>
                    <textarea rows="3" type="text" class="form-control" id="pet-existing_conditions" name="existing_conditions"></textarea>
                  </div>
                  <input id="pet_url_to_view" name="id" type="text" hidden>
                  <input id="medical_url_to_view" name="id" type="text" hidden>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button id="submit_pet_info" type="button" class="btn btn-success">Save</button>
            </div>
          </div>
        </div>
      </div>


      <div class="modal fade" id="medicalModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="medicalModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="medicalModalLabel">Add Medical History</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="{% url 'add_medical_history' %}">
                    {% csrf_token %}
                    
                    {% crispy medical_form %}
                    <button type="submit" id="add_medical_button" class="btn btn-success">Add</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </form>
            </div>
          </div>
        </div>
      </div>
      {% endblock %}
    {% block extra_js %}      
   
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/6.0.0/bootbox.min.js" integrity="sha512-oVbWSv2O4y1UzvExJMHaHcaib4wsBMS5tEP3/YkMP6GmkwRJAa79Jwsv+Y/w7w2Vb/98/Xhvck10LyJweB8Jsw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    <script>
        let cat_breeds = [
            {% for breed in cat_breeds %}
                "{{breed}}",
            {% endfor %}
        ];
        let dog_breeds = [
            {% for breed in dog_breeds %}
                "{{breed}}",
            {% endfor %}
        ];

        $("#pet-species").on('change', function(e){
            let selectedSpecies = e.target.value;
            console.log('species updated!');
            updateBreedDropdown(selectedSpecies);
        });

        updateBreedDropdown('Cat');

        function updateBreedDropdown(selectedSpecies, defaultSelected){
            let breedSelections = ``;
            let sourceBreed = cat_breeds;
            $("#pet-breed").empty();

            if(selectedSpecies === 'Dog'){
                sourceBreed = dog_breeds;
            }

            sourceBreed.forEach(element => {
                if(defaultSelected === element){
                    breedSelections += `<option value="${element}" selected>${element}</option>`;
                }
                else{
                    breedSelections += `<option value="${element}">${element}</option>`;
                }
            });

            $("#pet-breed").append(breedSelections);
        }

        console.log(cat_breeds);
        console.log(dog_breeds);
    </script>
    
    <script>
        const exampleModal = document.getElementById('exampleModal')
        const petBirthdayInput = exampleModal.querySelector('[name="date_of_birth"]')
        const birthdayPicker = $(petBirthdayInput).flatpickr();
        $('.datepicker').flatpickr()
        
        if (exampleModal) {
            exampleModal.addEventListener('show.bs.modal', event => {
                // Button that triggered the modal
                const button = event.relatedTarget
                // Extract info from data-bs-* attributes
                let petId = button.getAttribute('data-bs-pet');//String(button.getAttribute('data-bs-pet'))
                let petUrl = button.getAttribute('data-bs-url');
                // petData = petData.replace(/'/g, '"');
                console.log(petId);
                $("#pet_url_to_view").val(petUrl);
                const obj = JSON.parse(document.getElementById(`mydata-${petId}`).textContent);//JSON.parse(petData);
                console.log(obj);
                // If necessary, you could initiate an Ajax request here
                // and then do the updating in a callback.
            
                // Update the modal's content.
                const modalTitle = exampleModal.querySelector('.modal-title')
                const petNameInput = exampleModal.querySelector('[name="name"]')
                let petGenderInput = $("#pet-gender");
                const petWeightInput = exampleModal.querySelector('[name="weight"]')
                const petHeightInput = exampleModal.querySelector('[name="height"]')
                let petSpeciesInput = $("#pet-species");
                let petBreedInput = $("#pet-breed");
                const petAllergiesInput = exampleModal.querySelector('[name="allergies"]')
                const petExistingConditionsInput = exampleModal.querySelector('[name="existing_conditions"]')
            
                modalTitle.textContent = `Edit ${obj.name} Information`
                petNameInput.value = obj.name
                birthdayPicker.setDate(obj.date_of_birth);
                
                let selectedGenderValue = obj.gender;
                // if(obj.gender != "Male"){
                //     selectedGenderValue = 2;
                // }

                $('#pet-gender option')
                .removeAttr('selected')
                .filter(`[value=${selectedGenderValue}]`)
                    .attr('selected', true)

                petWeightInput.value = obj.weight
                petHeightInput.value = obj.height

                petSpeciesInput.val(obj.species).change();
                updateBreedDropdown(obj.species, obj.breed);

                // petBreedInput.val(obj.breed).change();

                petAllergiesInput.value = obj.allergies;
                petExistingConditionsInput.value = obj.existing_conditions
            })
        }
    </script>

    <script>
        const medicalModal = document.getElementById('medicalModal')
        
        if (medicalModal) {
            medicalModal.addEventListener('show.bs.modal', event => {
                // Button that triggered the modal
                const button = event.relatedTarget
                let petId = button.getAttribute('data-bs-pet');//String(button.getAttribute('data-bs-pet'))
                
                const obj = JSON.parse(document.getElementById(`mydata-${petId}`).textContent);//JSON.parse(petData);
                console.log(obj);

                const petSelectInput = medicalModal.querySelector('[name="pet"]')
                console.log(petSelectInput)
                $(petSelectInput).val(obj.id).change();
            });
        }

    </script>

    <script>
         $("#submit_pet_info").click(function() {
            // let petId = $("#pet_id_to_view").val();
            let url = $("#pet_url_to_view").val()
            let data = $("#pet_info_form").serialize()
            let myform = document.getElementById("pet_info_form");
            let formData = new FormData(myform );

            console.log(url)
            console.log(formData)
            $.ajax({
                type: "PATCH",
                url: url,
                data: formData, // Serialize the form data
                cache: false,
                processData: false,
                contentType: false,
                // contentType: "application/json",
                // dataType: "json",
                success: function(data) {
                    // Assuming the server returns a JSON response with the new post data
                    // You can customize this part based on your server response format
                    $("#exampleModal").modal("hide"); // Close the modal if necessary
                    alert("Pet info was saved successfully!");
                    location.reload(); // Reload the page to update the post list
                },
                error: function(xhr, textStatus, errorThrown) {
                    console.error("Error:", errorThrown);
                    // Handle the error, display an error message, etc.
                }
            });
        });
    </script>

    <script>
        $("#petCards").on('click', '.medical_delete_buttons', function() {
            // Handle the click event for the child element
            const clickedChild = $(this);
            const url = clickedChild.data('url');
            // Your code to handle the click on the child element
            console.log(`Clicked on ${url}`);
            bootbox.confirm('Are you sure you want to delete this Medical History?',
                function(result) {
                if(result){
                    const csrftoken = getCookie('csrftoken');
                    const request = new Request(url,
                        {headers: {'X-CSRFToken': csrftoken}}
                    );
                    fetch(request, {
                        method: 'DELETE',
                        mode: 'same-origin'  // Do not send CSRF token to another domain.
                    }).then(function(response) {
                        console.error(response);
                        alert(response.message);
                        location.reload();
                    });



                    // $.ajax({
                    //     type: "DELETE",
                    //     url: url,
                    //     success: function(data) {

                    //     },
                    //     error: function(xhr, textStatus, errorThrown) {
                    //         console.error("Error:", errorThrown);
                    //         // Handle the error, display an error message, etc.
                    //     }
                    // });
                }
            });
        });

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    </script>

{% endblock %}