body{
    background-image: url("https://img.freepik.com/free-photo/health-still-life-with-copy-space_23-2148854034.jpg?w=740&t=st=1678352071~exp=1678352671~hmac=64b7b65677cf862fcff99dcccca746b9a57872037c92cc159c36c5ca263d4d33") !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

.bg-warning{
    background-color: #e6731e !important;
}
/* 
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }

  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  } */