{% extends 'base.html' %} {% load static %} {% block mycss %} {{ block.super }}
<link rel="stylesheet" href="{% static 'css/common.css' %}" />
<style>
  body{
    background-image: url("https://img.freepik.com/free-photo/health-still-life-with-copy-space_23-2148854034.jpg?w=740&t=st=1678352071~exp=1678352671~hmac=64b7b65677cf862fcff99dcccca746b9a57872037c92cc159c36c5ca263d4d33") !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
  }
</style>
{% endblock mycss %} {% load crispy_forms_tags %} {% block content %}
<section id="register" class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-lg-12 mx-auto">
        <div class="card">
          <div class="card-header bg-warning text-white">
            <h4><i class="fas fa-sign-in-alt"></i> Register</h4>
          </div>
          <div class="card-body" id="registerForm">
            <form method="POST">
              <div id='form-errors'>{{ form_errors }}</div>
              <!-- <div class="form-group bg-white">
                {% for error in form_errors %}
                <p class="text-danger">{{ error }}</p>
                {% endfor %}
              </div> -->
              {% csrf_token %} {{ register_form|crispy }}
              <div class="col text-center">
                <button class="btn btn-success btn-block mt-3 tomato" type="submit">Register</button>
              </div>

              <p class="text-center h3">
                If you already have an account,<br>
                <a class="btn btn-lg" style="background-color:lime;" href="{% url 'login'%}">login</a> instead.
              </p> 
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
